h1{
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.LMpux5BB7wpI21WTnezeVAHaEH?r=0&rs=1&pid=ImgDetMain&o=7&rm=3");
    color:white;
    background-size:cover;
    text-align:center;
}
body
{
    background-image: url("https://img.freepik.com/premium-vector/contact-us-customer-support-hotline-connect_387612-858.jpg?semt=ais_hybrid");
    background-size:cover;
    color:white;
}
a{
    display: inline;
}