h1{
    color:white;
    text-align: center;
}
body{
    background-image: url("https://th.bing.com/th/id/R.10c2597b773ed71d0d8aa0f675e9d635?rik=k8hSyaRo%2bvWMxQ&pid=ImgRaw&r=0");
    color:aliceblue;
    font-size: medium;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
